* {
    box-sizing: border-box;
}
html {
    background-image: url('Media/283372-high-tech-wallpaper-high-tech-wallpaper.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}
body {
    font-family: helvetica;
    line-height: 1.4;
    color:whitesmoke;
}
header {
    padding: 25px 95px 25px 210px;
}
nav {
    width: 200px;
    height: 98%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, .90);
    border: 1px solid yellowgreen;
    position: fixed;
    left: 10px;
    top: 10px;
}
main {
    padding: 25px 95px 25px 210px;
}

#icons {
    height: 216px;
    Width: 554px;
}
.wrapper {
    background-color: rgba(0, 0, 0, .50);
}
.html, .css, .javascript{
    background-color: rgba(0, 0, 0, .90);
    border: 1px solid yellowgreen;
    padding: 0px 15px;
}

.banner {
    text-align: center;
}
.banner h1 {
    font-size: 48px;
}
.banner h4 {
    font-size: 18px;
    color: gray
}
.banner time {
    font-size: 18px;
    color: gray;
}
.banner p {
    font-size: 28px;
}
p, li{
    font-size: 16px;
}
h2 {
    font-size: 32px;
    font-weight: 900;
    text-align: center;
}
h3 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}
h4 {
    font-style: italic;
    font-size: 24px;
}
footer p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
a {
    color:lightskyblue;
}
:visited {
    color:yellowgreen;
}
